<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Product</title>
</head>
<body>
    <h1><%= product.name %></h1>
    <ul>
        <li>Brand: <%= product.brand %></li>
        <li>Warna: <%= product.color %></li>
        <li>
            Kategori:
            <a href="/products?category=<%= product.category %>"><%= product.category %></a>
        </li>
        <li>Harga: <%= product.price %></li>
    </ul>
    <a href="/products">All Products</a>
    <a href="/products/<%= product.id %>/edit">Edit</a>
    <form action="/products/<%= product.id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
        <button type="submit">Delete</button>
    </form>
</body>
</html>